# Folder view configuration files
.DS_Store
Desktop.ini
._*
*~
Thumbs.db
.Spotlight-V100
.Trashes
.Trash

# Application specific files
.npm*
.build*
.versions
node_modules

Gemfile.lock
.bundle
.sass-cache
bundle
config.rb

Gemfile
Rakefile
